<a href="https://colab.research.google.com/github/Annbridget/Ann-checklist/blob/main/Conditional_and_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# if statement

val = input("Enter the number")
#value inputted using input() function is in string data type. so, we need typecasting
value_float = float(val)
if(value_float > 100):
    print("greater than hunderd")

Enter the number105
greater than hunderd

In [ ]:
value = int(input("Enter the no"))
if(value % 2 == 0):
    print("even")
else:
    print("odd")

Enter the no2
even

In [ ]:
# Age form
age = float(input("Enter your age: "))
if(age<18):
    print("You are not eligible to vote")
else:
    print("Eligible to vote")

Enter your age: 22
Eligible to vote

In [ ]:
# if-elif-else
# Age form
age = float(input("Enter your age: "))
if(age<18):
    print("Minor Age")
elif(age >= 18 and age<= 45):
    print("Mid-Age")
elif(age>45 and age<= 60):
    print("Senior Mid Age")
else:
    print("Senior Citizen")

Enter your age: 65
Senior Citizen

In [ ]:
# nested if else
age = float(input("Enter your age: "))
if(age<18):
    if(age<15):
        print("You are in school, Minor age")
    else:
        print("You are in college, Minor age")
elif(age >= 18 and age<= 45):
    print("Mid-Age")
elif(age>45 and age<= 60):
    print("Senior Mid Age")
else:
    print("Senior Citizen")

Enter your age: 15
You are in college, Minor age

In [ ]:
# Loop statements

In [ ]:
#for loop
lst = [1,2,3,4,5]
for i in lst:
    print (i)

1
2
3
4
5

In [ ]:
lst = [1,2,3,4,5]
for i in lst:
    print (i*i)

1
4
9
16
25

In [ ]:
# find the sum of all the elements in the list
list = [1,2,3,4,5,6,7,8,9,10]
sum1 = 0
for i in list:
    sum1+=i
print(sum1)

55

In [ ]:
# find the sum of even and odd number
list1 = [1,2,3,4,5,6,7,8,9,10]
even_sum = 0
odd_sum = 0
for i in list1:
    if(i%2 == 0):
        even_sum += i
    else:
        odd_sum += i
print("Even sum is {} and odd sum is {}". format(even_sum, odd_sum))

Even sum is 30 and odd sum is 25

In [ ]:
# while loops
i = 0
while(i<=10):
    print(i)
    i = i+1

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
# break
x = 1
while(x<7):
    print(x)
    if(x == 4):
        break
    x=x+1

1
2
3
4

In [ ]:
# continue
x = 0
while x<7:
    x = x+1
    if x==4:
        continue
    print(x)

1
2
3
5
6
7

In [ ]:
# printing even numbers
for i in range(1,50):
    if(i % 2 == 0):
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

In [ ]:
# factorial calculation
fact = 1
n = int(input("Enter the number"))
i = n
while(i != 0):
    fact = fact*i
    i = i-1
print(fact)

Enter the number5
120

In [ ]:
#Python program that asks the user for a positive integer and then calculates the sum of all numbers from 1 to that integer using a for loop.
num = int(input("Enter the number"))
sum1 = 0
for i in range(1, num+1):
    sum1 += i
print("Sum is {}".format(sum1))

Enter the number5
Sum is 15

In [ ]:
# Fibanacci sequence
n = int(input("How many terms of fibonacci series you want to print?"))
a=0
b=1
print(a)
print(b)
for i in range(n-1):
    c= a+b
    print(c)
    a=b
    b = c

How many terms of fibonacci series you want to print?10
0
1
1
2
3
5
8
13
21
34
55

In [ ]:
#  Python program to print the multiplication table of a given number using a nested for loop.
num = int(input("Enter the number: "))
for i in range(10):
    print("{} * {} = {}".format(num,i+1, num*(i+1)))

Enter the number: 12
12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120

In [ ]:
# pattern printing
for i in range(6):
    for j in range(i):
        print("*", end=" ")
    print("\n")

*

* *

* * *

* * * *

* * * * *

In [ ]:
for i in range(5,0,-1):
    for j in range(i):
        print("*", end=" ")
    print("\n")

* * * * *

* * * *

* * *

* *

*

In [ ]:
for i in range(1, 6):
    print(" "*(5-i)+ "*"*i)

    *
   **
  ***
 ****
*****